* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
}
button {
    cursor: pointer;
}
.entry {
    margin: 10px;
    border-style: solid;
    border-radius: 1px;
    border-width: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    animation: slide-up 0.4s ease;
    transition: 1s;
}
.separator {
    /* margin: 10px; */
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    width: 0.8;
    border-color: gray;
    background: gray;
}
.term {
    width: 20%;
}
.definition {
    width: 60%;
}
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* width: 48%; */
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-style: none;
    border-bottom;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
